*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    color: blue;
}

/* nav top start */
.navtop {
    background-color: var(--color-1);
}
.navtop a{
    color: rgb(206, 206, 206);
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
}
.navtop a:hover{
    color: white;
    text-decoration: underline;
}
/* nav top end */

/* page path start */
.page-path{
    color: white;
}

.page-path ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-path ul li{
    display: inline-block;
    margin-right: .5rem;
}
/* page path start */

/* main body left start */
.main-body h4{
    color: var(--color-1);
    font-weight: 600;
}

.main-body p{
    text-align: justify;
}

.main-body form input,
.main-body form textarea{
    padding: 15px;
    background: #f5f5f5;
    border: none;
    outline: none;
    margin-bottom: 25px;
}

.main-body form div input{
    width: 48.5%;
    max-width: 48.5%;
}

.main-body form textarea{
    height: 200px;
    width: 100%;
}

.main-body form button{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    background-color: var(--color-1);
}
/* main body left end */


/* main body right start */
.main-body .right-div{
    border: 1px solid rgb(165, 165, 165);
}

.main-body .right-div .title{
    border-left: 10px solid var(--color-1);
    padding: 18px;
    margin-bottom: 10px;
}

.main-body .right-div ul{
    list-style: none;
    margin-bottom: 40px;
}

.main-body .right-div ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
/* main body right end */

/* 2nd task main body start */
.main-body  .task-tow-left ul{
    padding: 0;
    list-style: none;
}

.main-body  .task-tow-left ul li{
    margin: 10px 0;
}

.main-body  .task-tow-left ul li i{
    margin-right: 10px;
    color: #b6b6b6;
}

.main-body .task-tow-right .right-div ul li{
    margin: 20px 0; 
}

.main-body .task-tow-right .right-div ul li ul li{
    margin: 10px 0; 
}
/* 2nd task main body end */

@media screen and (max-width: 676px) {
    .flex-fixed{
        flex-direction: column-reverse;
    }
}

:root{
    --color-1: #189053;
}